# Default ignored files
/../../Firstproj./.idea/shelf/
/../../Firstproj./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Firstproj./.idea/httpRequests/
# Datasource local storage ignored files
/../../Firstproj./.idea/dataSources/
/../../Firstproj./.idea/dataSources.local.xml
