<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-UA-Compatibe" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="./static/css/style.css" />

    <script src="./static/js/main.js" type="text/javascript"></script>
    <script src="./static/js/Timetables.min.js" type="text/javascript"></script>
    <title>东北农业大学 一站式时间管理系统</title>
  </head>
  <body>
    <div class="header">
      <h2 id="title">一站式时间管理系统 A19220064 电气2204 李睿年</h2>
      <h2 id="ctime"></h2>
    </div>

    <div class="contentContainer" id="contentContainer">
      <div class="ttContainer">
        <div id="coursesTable"></div>
      </div>
      <div class="optionsContainer">
        <div class="options" id="options">
          <div class="timetable o-item">
            <div class="o-title">课程表设置</div>
            <p>请输入校选课网站cookies数据<br />（不用担心 json将会自动获取并解析为课表）</p>
            cookies:<input type="text" id="cookiesinp" value="{{ cookies }}" />
            <textarea id="timetablejson">{{ neaujson }}</textarea>
            <button onclick="updatecookies()">更新cookies</button>
            <button onclick="parsejson()">解析json</button>
          </div>
          <div class="ddlList o-item">
            <div class="o-title">DDL list</div>
            <div class="ddlList-item">
              <ul id="ddllist"></ul>
            </div>
          </div>
          <div class="acmList o-item">
            <div class="o-title">ACM Todo List</div>
            <div>{{ acmloginuser }}</div>
            <div class="acmList-item">
              <ul id="acmlist"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>

    const update_width = () => {
      let title = document.getElementById("title");
      let ctime = document.getElementById("ctime");
      let contentContainer = document.getElementById("contentContainer");
      let options = document.getElementById("options")

      if (window.innerWidth < 800) {
        ctime.style.display = "none"
        contentContainer.style.flexDirection = "column"
        options.style.width = "100%"

      } else if(window.innerWidth < 950) {
        ctime.style.display = "none"
        contentContainer.style.flexDirection = "row"
        options.style.width = ""

      }else{
        ctime.style.display = "block"
        contentContainer.style.flexDirection = "row"
        options.style.width = ""
      }

    };

    update_width();
    window.addEventListener("resize", update_width);

            window.onload = () => {
              projteamtodo = {{ projtodo|tojson }}
            alist = document.getElementById("acmlist")
            for (i in projteamtodo){
              ali = document.createElement("li")
              ali.innerHTML += projteamtodo[i][0]
              ali.innerHTML += projteamtodo[i][4]
              alist.appendChild(ali)
            }

            ddllist = {{ ddllist|tojson }}

            dlist = document.getElementById("ddllist")
            dlist.innerHTML = ddllist

            ctime = document.getElementById("ctime")
            setInterval(showTime, 1000);
        function showTime() {
            let time = new Date();
            let year = time.getFullYear();
            let month = time.getMonth();
            let date = time.getDate();
            let hour = time.getHours();
            let min = time.getMinutes();
            let sec = time.getSeconds();

            hour = hour < 10 ? "0" + hour : hour;
            min = min < 10 ? "0" + min : min;
            sec = sec < 10 ? "0" + sec : sec;

            let currentTime = " 当前时间："+year+"年"+month+"月"+date+"日 "+hour + ":"
                    + min + ":" + sec ;

                    ctime.innerHTML = currentTime;
        }
        showTime();

            };

            function updatecookies(){
              cookiesinp = document.getElementById("cookiesinp")
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update-cookies", true);
            xhr.setRequestHeader('content-type', 'application/formdata');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    if(xhr.getResponseHeader('content-type')==='application/json'){
                 var result = JSON.parse(xhr.responseText);
                    } else {
                        console.log(xhr.responseText);
             }
                }
            }
            xhr.send(cookiesinp.value);

            }




            var week = window.innerWidth - 300 > 550 ? ["周一", "周二", "周三", "周四", "周五", "周六"] : ["一", "二", "三", "四", "五", "六"];
            var Gheight = window.innerWidth - 300 > 550 ? 60 : 90;
            var Timetable = new Timetables({
              el: "#coursesTable",
              timetables: courseList,
              week: week,
              timetableType: courseType,
              highlightWeek: day,
              gridOnClick: function (e) {
                alert(e.name + "  " + e.week + ", 第" + e.index + "节课, 课长" + e.length + "节");
                console.log(e);
              },
              styles: {
                Gheight: Gheight,
              },
            });
            parsejson();
  </script>
</html>
