html {
  background-color: rgb(73, 141, 254);
  text-align: center;
}

th {
  background-color: aqua;
}

table tr th {
  font-weight: 500;
  border-color: rgb(73, 141, 254);
}

.school {
  background-color: rgb(88, 222, 0);
}

.subject {
  background-color: white;
}

.grade {
  background-color: rgb(244, 169, 23);
}
